.wrapper {
    height: 140px;
    box-sizing: border-box;
    width: 100%;
}

.top {
    height: 68%;
    background-color: #333333;
}

.top-container {
    width: 980px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo {
    width: 25%;
    margin: auto 0;

}

.action {
    width: 22%;

}

.search {
    width: 40%;
    background-color: aliceblue;
    height: 34%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid transparent;

    input {
        font-size: 1.6rem;
        border: none;
        background-color: transparent;
        outline: none;
        height: 100%;
        width: 85%;
        padding-right: 10px;
        margin-left: 20px;

    }
    &:focus-within{
        border: 1px solid  rgba(22, 24, 35, 0.1);;
    }
}

.search-btn {
    height: 100%;
    flex: 1;
    border-radius: 20px;
    border: none;
    background-color: transparent;

    &:hover {
        background-color: rgba(22, 24, 35, 0.05);
        cursor: pointer;
    }

    position: relative;
}

.search-btn::before {
    content: "";
    border: solid 1px rgba(22, 24, 35, 0.1);
    position: absolute;
    height: 70%;
    left: 0;
    top: 10%;
}

.search-result {
    width: 330px;
}
.search-result-title{
    display: flex;
    color: white;
    padding: 0 0 8px 0;
    font-size: 1.8rem;
    border-bottom: 1px dashed white;
    p{
        margin-left: 10px;
        color: var(--active);
    }
}
