.wrapper {
    height: 140px;
    box-sizing: border-box;
    width: 100%;
}

.top {
    height: 68%;
    background-color: #333333;
}

.top-container {
    width: 980px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.logo-link{
    display: flex;
    width: 25%;
}

.logo {
    width: 100%;
    margin: auto 0;

}

.action {
    width: 22%;

}


.bottom {
    background-color: #2d2d2d;
    width: 100%;
}
.bot-container{
    width: 980px;
    margin: 0 auto;
    ul{
        display: flex;
        justify-content: space-between;
        width: 40%;

        li{
            list-style: none;
            padding: 15px 30px;
        }
    }
}
.main-menu{
    text-decoration: none;
    color: white;
    font-size: 1.7rem;
    text-transform: uppercase;
}

