.wrapper {
    width: 100%;
    padding: 8px 0 8px 0;
    box-sizing: border-box;
    border-bottom: 1px dashed white;
}
.vi-name {
    color: white;
    font-size: 1.6rem;
}
.en-name {
    color: #676767;
}
.searchItemLink{
    text-decoration: none;
}