.wrapper{
    color: white;
    background-color: #5d5d5d;
    font-size: 1.6rem;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    outline: none;
}
.primary{
    &:hover{
        background-color: cadetblue;
    }
}

.blue{
    background-color: #337ab7;
    &:hover{
        background-color: #2e6da4;
    }
}
.red {
    background-color: #d9534f;
    &:hover{
        background-color: #d43f3a;
    }
}
.small {
    min-width: 80px;
}

.medium {
    padding: 9px 18px;
    font-size: 1.6rem;
    min-width: 100px;
}

.large {
    padding: 15px 60px;
    min-width: 120px;
}