@import 'normalize.css';

:root {
    --primary: #333;
    --black : #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

button, input, [tabindex] { 
    outline: none;
}