@import 'normalize.css';

:root {
    --primary: #333;
    --black : #000;
    --active: #da966e;
    --background-color: #02080f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: var(--background-color);
}

button, input, [tabindex] { 
    outline: none;
}