.wrapper {
    width: 100%;
    height: 100%;
    background-size: cover;
    position: relative;
    border-radius: 5px;

    button {
        position: absolute;
        top: 50%;
        left: 50%;
    }
}

.link-wrap {
    width: 162px;
    height: 260px;
    display: block;
    text-decoration: none;
    color: white;
    background-color: #181818;
    border-radius: 5px;
    margin-bottom: 12px;
}

.movie-card {
    width: 100%;
    border-radius: 5px;
    height: 100%;
    overflow: hidden;
    position: relative;

    .imgWrapper {
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            border-radius: 5px;
            vertical-align: middle;
            transition: transform .3s ease-in-out;
            &:hover {
                transform: scale(1.4);
            }
        }
    }



}

.footer {
    width: 100%;
    height: 20%;
    margin: 0;
    padding: 4px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);

    p {
        display: flex;
        text-align: center;
        font-size: 1.4rem;
        border: 0;
        justify-content: center;
        width: 100%;
    }
}