.action{
    display: flex;
    width: 14%;
    justify-content: space-between;
    margin: 10px 0;
}

.btnAction{
    display: flex;
    justify-content: space-around;
}
.title{
    font-size: 20px;
    color: var(--active);
    margin: 10px 0;
}
.reviewContent {
    background-color: #282828;
    padding: 10px;
    .reviewMain{
        color: #bbb;
        padding: 10px 0 20px 0;
        font-size: 1.4rem;
    }
}
.comment{
    background-color: white;
    width: 100%;
    height: 400px;
}
.similar{
    width: 972px;
}
.similarTitle{
    padding: 20px 0;
    display: flex;
    div{
        margin-left: 6px;
    }
}