.wrapper{
    color: white;
    padding: 10px;
    background-color: #181818;
    width: 680px;
}
.infor{
    width: 100%;
    box-sizing: border-box;
    display: flex;

}
.backdrop{
    width: 45%;
    margin-right: 10px;
    position: relative;
    .left{
        width: 100%;
        box-sizing: border-box;
    }
    img{
        width: 100%;
        height: 400px;
    }
    .btnGroup{
        padding: 15px 40px;
        width: 297px;
        position: absolute;
        display: flex;
        justify-content: space-between;
        background-color: rgba(0,0,0,0.8);
        bottom: 1%;
    }
}
.detail{
    flex: 1;
    font-size: 1.5rem;
}
.title{
    h2{
        color: var(--active);
    }
    p{
        padding: 10px 0;
        color: #bbb;
    }
}
.detailContent{
    height: 260px;
    background-color: #222;
    padding: 5px 10px;
    // overflow-y: scroll;
    .detailItem{
        display: flex;
        padding: 5px 0;
        .detailTitle{
            margin-right: 10px;
            color: #bbb;
        }
    }
}
.rating{
    box-sizing: border-box;
    margin-top: 10px;
    padding: 10px;
    background-color: #222;
}
.review{
    margin-top: 40px;
    padding: 10px;
}
.reviewContent {
    background-color: #282828;
    padding: 10px;
    .reviewMain{
        color: #bbb;
        padding: 10px 0 20px 0;
        font-size: 1.4rem;
    }
}
.tag{
    width: 100%;
    margin: 10px 0;
    display: flex;
    align-items: center;
    .tagsIcon{
        content: "";
        border-top: 9px solid transparent;
        border-bottom: 9px solid transparent;
        border-right: 9px solid transparent;
        border-left: 11px solid white;
        margin-left: 8px;
        font-size: 1rem;
        height: 40%;
    }
}
.similar{
    width: 100%;
}
.similarTitle{
    padding: 20px 0;
    display: flex;
    div{
        margin-left: 6px;
    }
}
.action{
    display: flex;
    width: 40%;
    justify-content: space-between;
    margin-bottom: 10px;
}

.btnAction{
    display: flex;
    justify-content: space-around;
}
.vote{
    display: flex;
    .voteCount{
        margin-left: 10px;
    }
}
.keywords{
    display: flex;
    margin-left: 5px 8px;
    .keywordItem{
        padding: 5px;
        background-color: #3D4045;
        font-size: 1.35rem;
        margin-right: 6px;
    }
}
.commentFB{
    width: 100%;
    min-height: 50px;
}